@import "./sass/normalize";
@include normalize();
@import "./fonts";

// Variables

$fz: 16px;
$ffPattaya: Pattaya;
$ffPFDin: PFDin;
$ffRobotoReg: RobotoReg;
$ffPoppins: Poppins;

/*.h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: light;
}*/

*{
  margin: 0;    
  padding: 0;
  font-weight: normal;
  font-style: normal; 
}


html{
    font-family: $ffPFDin;
    font-size: $fz;
}

.container{
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  
}
//Sidebar Menu
.menuWrapper{
    width: 13%;
    background-color: #2f3032;
    @media screen and(max-width: 767px){
        width: 100%;
    }
}

.logo{
    height: 114px;
    width: 100%;
    a{
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: url('../img/FoodYork.png') center no-repeat;
    }
}

nav{
    width: 100%;
    @media screen and(max-width: 767px){
        width: 40%;
        margin: 0 auto;
    }
    ul{
        list-style: none;
        @media screen and(max-width: 767px){
            display: none;
        }
        li{
            a{
                color: #efefef;
                text-align: center;
                text-decoration: none;
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
                text-transform: uppercase;
                @media screen and(max-width: 767px){
                    border-radius: 15px;
                    font-size: $fz*1.5;
                }
                &:hover{
                    background-color: #252628;
                    @media screen and(max-width: 767px){
                        background-color: hsl(220, 4%, 25%); //IE9
                       background: linear-gradient(to right, hsl(220, 4%, 20%), hsl(220, 4%, 25%) 15%, hsl(220, 4%, 25%) 85%, hsl(220, 4%, 20%));
                    }
                }
               
                        
            }
        }
    }
    ul.show{
        @media screen and(max-width: 767px){
            display: block;
        }
    }
    .mobileMenu a{
        color: #737373;
        text-align: center;
        text-decoration: none;
        font-size: $fz*2;
        display: none;
        &:hover{
            color: #efefef; 
        }
        @media screen and(max-width: 767px){
            display: block;
        }
    }
}


.lang{
    margin: 220px auto 0 auto ;
    width: 30px;
    @media screen and(max-width: 767px){
        margin: 20px auto 0 auto ;
        width: 60px;
    }
    a{
        display: inline-block;
        text-transform: uppercase;
        width: 50%;
        font-size: $fz*0.875;
        box-sizing: border-box;
        color: #737373;
        text-decoration: none;
        @media screen and(max-width: 767px){
            font-size: $fz*1.2;
            text-align: center;
        }
        &:hover{
            color: #efefef;
        }
    }
    
}

.socialIcon{
    margin: 10px auto 0 auto;
    width: 60%;
    @media screen and(max-width: 991px){
        width: 70%;
    }
    @media screen and(max-width: 767px){
        margin: 20px auto 10px auto;
        width: 80%;
    }


    a{
        display: inline-block; 
        width: 22%;
        font-size: 14px;
        color: #737373;
        text-decoration: none;
        padding: 5px;
        box-sizing: border-box;
            @media screen and(max-width: 991px){
                width: 47%;
                text-align: center;
            }
       
            @media screen and(max-width: 767px){
                width: 24%;
                font-size: $fz*1.2;
                text-align: center;
            }
        

        &:hover{
            color: #efefef;
        }
    }
}

//Content

.content{
    background-color: #fcfcfc;
    width: 87%;
    @media screen and(max-width: 767px){
        width: 100%;
    }
   

}

.wrapper{
    width: 92%;
    margin: 0 auto;
}

.header{
    width:100%;;
    min-height: 89px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: space-between;
    background: url('../img/border-bottom.png') center bottom no-repeat;
    .search{
        cursor: pointer;
        color:  #737373;
        &:hover{
            color: #252628; 
        }
    }

    
    .header-right{
        min-height: 65px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .message{
            margin: 0 15px;
            padding: 0 5px;
            position: relative;
            cursor: pointer;
            color:  #737373;
            &:hover{
                color:#252628; 
            }
            img{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .user{
            margin: 0 15px;
            padding: 0 5px;
            cursor: pointer;
            color:  #737373;
            &:hover{
                color: #252628; 
            }
        }
   }
}


h2{
    font-size: $fz*1.875;
    color: #5b5b5b;
    margin-top: 15px;
    text-align: center;
}


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -5.5px;
    // @media screen and(max-width: 767px){
    //     justify-content: center;
    // }
    .col-1, .col-2{
        margin: 5.5px 0 0 5.5px;
        
    }
    .col-1{
        width: calc(25% - 11px);
        position: relative;
        @media screen and(max-width: 767px){
            width: calc(50% - 11px);
        }
        
    }
    .col-2{
        width: calc(50% - 11px);
        position: relative;
        @media screen and(max-width: 767px){
            width: 100%;
            margin: 15px auto;
        }
       
    }

}

.news__item{
    text-decoration: none;
    display: block;
    position: relative;
}
.news__image{
    width: 100%;
    img{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.news__text{
    position: absolute;
    top: 30%;
    left: 0;
    background: url('../img/spoon&forg.png') center bottom no-repeat;
    color: #ffffff;
    text-align: center;
    width: 100%;
    
   
    .category{
        text-transform: uppercase;
        text-shadow: 0 0 1px black;
    }
    .category_name{
        font-size: $fz*2.25;
        text-transform: uppercase;
        padding: 5px 0 25px 0;
        text-shadow: 1px 1px 3px black;
        &:hover{
            text-shadow: 2px 2px 4px black, -2px -2px 4px black;
        }
      
    }
}
.title{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 5% 13%;
   
    .black_border{
        max-width: 156px;
        height: 6px;
        background-color: #2f3032;
    }
    .title_item{
        color: #333333;
        text-transform: uppercase;
        font-size: $fz*1.1875;
        background-color: #ffffff;
        padding: 6px 12px;
        display: inline-block;
        &:hover{
            background-color:  #333333; 
            color: #ffffff;
            cursor: pointer;
        }
    }
}
.news{
    background: url('../img/border-bottom.png') center bottom no-repeat;
    padding-bottom: 60px;

}
@media screen and(min-width: 768px){
    div.resipes_nav{
        width: 60%;
        border-radius: 18px;
        background-color: #f1f1f1;
        margin: 15px auto;
        display: block;
        text-align: center;
        &:hover{
            background-color: transparent;
        }
    
        
        
            .btn{
                border-radius: 18px;
                width: calc(100%/3 - 5px);
                display: inline-block;
                height: 35px;
                padding: 10px 26px;
                box-sizing: border-box;
                text-decoration: none;
                text-align: center;
                background-color:  #f1f1f1;
                color: #5b5b5b;
                transition-duration: 0.4s;
                &:hover{
                    background-color: #2f3032;
                    color: #f1f1f1;
                    cursor: pointer;
                }
                
            }
    }
}
@media screen and(max-width: 767px){
    div.resipes_nav{
        width: 40%;
        margin: 0 auto;
        .btn{
            border-radius: 18px;
            margin: 5px auto;
            width: 100%;
            display: inline-block;
            height: 35px;
            padding: 10px 26px;
            box-sizing: border-box;
            text-decoration: none;
            text-align: center;
            background-color:  #f1f1f1;
            color: #5b5b5b;
            transition-duration: 0.4s;
            overflow: hidden;
            &:hover{
                background-color: #2f3032;
                color: #f1f1f1;
                cursor: pointer;
            }
        }    
        
    }
    
}

.resipesItem {
    border: 2px solid #f2f2f2;
    box-sizing: border-box;
        @media screen and (max-width: 767px){
            width: 100%;
        }
    
    &__image{
        width: 50%;
        position: relative;
        text-decoration: none;
        cursor: auto;
        flex: 1 1 255px;
        @media screen and (max-width: 767px){
            width: 100%;
        }
        img{
            max-width: 100%;
            height: auto;
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .author{
            position: absolute;
            top: 80%;
            left: 50%;
            &__foto{
               
                & img{
                    background-color: #2f3032;
                    box-sizing: border-box;
                    border: 2px solid #2f3032;
                    border-radius: 50%;
                }
            }
            &__name{
                margin-left:8px;
                align-self: center;
                & p{
                    color: #fcfcfc;
                }
            }
        }
    }
    &__dsc{
        
        width: 50%;
        background-color: #ffffff;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 255px;
        @media screen and (max-width: 767px){
            width: 100%;
        }
        &-title {
            width: 90%;
            margin: 18px auto 0 18px;
            & h3.dsc-title{
            color: #3d3d3d;
            font-size: $fz*1.5;
            text-align: center;
            }

        }
        &-info{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            
            & .btn{
                
                border: 1px solid  #f2f2f2;
                border-radius: 12px;
                color:  #b5904e;
                font-size: $fz*0.875;
                padding: 6px 10px 6px 28px;
                margin: 3px;
            }
            & .btn1{
                background: url('../img/clock.png') 10% 50% no-repeat;
            }
            & .btn2{
                background: url('../img/cooking_hat.png') 10% 50% no-repeat;
            }
            & .btn3{
                background: url('../img/runnig_men.png') 10% 50% no-repeat;
            }

        }
        &-text{
            width: 90%;
            margin: 18px auto 0 18px;
            & p{
                color: #5b5b5b;
            }


        }
        &-footer{
            border-top: 1px solid #f2f2f2;
            box-sizing: border-box;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            .socIc{
                width: calc(100%/2 - 5.5px);
                & a{
                        // display: inline-block; 
                        font-size: 14px;
                        color: #737373;
                        text-decoration: none;
                        padding: 5px;
                        box-sizing: border-box;

                        &:hover{
                            color: #efefef;
                                                        
                        }
                }
            }
            
        }
    }
}
